/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .skills {
  	margin-top: 36px;
   list-style: none;
}

section .skills {
   font-size: 8rem;
   display: grid;
   grid-template-columns: repeat(6, 0fr);
   text-align: center;
   grid-row-gap: 32px;
   justify-content: center;	
   opacity: 1;
   transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s 0.25s ease-out;
   will-change: transform, opacity;
}

section .skills .technology {
   cursor: pointer;
   padding: 13.6px;
   border-radius: 5px;
}

section .skills .technology:hover {
   background-color: #11ABB0;
   border-color: #11ABB0;
   color: #fff;
 }

 [class*=" devicon-"], [class^=devicon-] {
   color: #2B2B2B;
}